openai
tinker
numpy==1.26.4
pandas==2.0.3
pyarrow==11.0.0
datasets==2.16.1
pympler
pynvml
matplotlib
seaborn
huggingface_hub>=0.20.0
fsspec>=2023.10.0
transformers==4.56.0
pympler==1.1
matplotlib==3.9.4
pynvml==12.0.0
peft==0.17.0
tiktoken==0.11.0
together==1.5.24
statsmodels==0.14.5
scikit-learn==1.7.2
bitsandbytes>=0.46.0